/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

body,*{
  width: 100%;
  height: 100%;
}

.auth{
  width: 50%;
  height: 40%;
  border: solid 2px;
  display: flex;
  justify-content: center;
}

form{
  width: 90%;
  height: 100%;
  border: solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5%;
}

input{
  width:90%;
  height: 15%;
}

.authBtn{
  width: 50%;
  height: 10%;
  justify-content: space-around;
  margin:2.5%;
}

/* .authTxt{
  margin: 3%;
} */
