<div class="headerBody">
  <h3 class="headerTitle">EMS Dashboard</h3>

  <div class="navRight">
    <img class="profileImage" src="/assets/profile.png" alt="User profile"/>
    {{#if this.authentication.isLogged}}
      <button type="button" class="loginButton" {{on 'click' this.logout}}>Logout</button>
    {{/if}}
  </div>

</div>