<div class="headerBody">
  <h3 class="headerTitle">EMS Dashboard</h3>

  <div class="navRight">
    <img class="profileImage" src="/assets/profile.png" alt="Profile Image"/>
    <button type="button" class="loginButton" {{on 'click' this.logout}}>Login</button>
  </div>


</div>